nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

nav li {
    display: inline-block;
    margin-right: 20px;
    
}

nav li:last-child {
    margin-right: 0;
}
 
.navbar-nav {
    padding-right: 20px;
}

.navbar-nav > li > a {
    margin-right: 20px;
}

a {
    margin-left: 20px;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 9999;
}

.navbar-brand img {
    max-height: 50px;
    padding-right: 5px;
}

body {
    background-color: rgb(99, 99, 99);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
}